.header {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.loginBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginBlock a {
  color: white;
}