.nav {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: darkslategrey;
}

.nav ul {
  margin: 0 auto;
  padding: 20px;
}

.item {
  list-style: none;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  font-weight: bold;
  color: rosybrown;
}