.nav {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: darkslategrey;
}

.nav ul {
  margin: 0 auto;
  padding: 10px;
}

.item {
  list-style: none;
}

.item {
  color: white;
}

.item.active {
  color: gold;
}
