.appWrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-column: 2/3;
  grid-row: 2/3;
}